@newSecondary: rgba(152, 206, 0, 1); //béžová
@newMenu: rgba(173, 52, 62, 1); //zelená
@newBrand: rgb(194, 160, 62); //světle béžová
@newSecondaryText: rgba(166, 177, 225, 1); //světle hnědá
@newText: rgba(0, 107, 166, 1); //hnědá