/* RGB */
body,
html {
  margin: 0;
  padding: 0;
}
html {
  scrollbar-width: thin;
  scrollbar-color: #ad343e #c2a03e;
  overflow-x: hidden;
  background-image: url('/img/genialni-uvodak.png');
}
::-webkit-scrollbar {
  display: none;
}
.rakovina {
  background: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #c2a03e;
  color: #006ba6;
  cursor: default;
}
.menu {
  font-family: 'Montserrat', sans-serif;
  position: sticky;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background: #ad343e;
  color: #c2a03e;
  padding: 0;
  opacity: 80%;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu .menu-item {
  margin: 0;
  padding: 15px 0;
  height: 100%;
  display: inline-block;
  width: 33%;
  text-align: center;
  transition: all 0.1s;
  color: #006ba6;
}
.menu .menu-item:hover {
  background: #ad343e;
  cursor: pointer;
  color: #a6b1e1;
}
.menu .menu-item:hover .selected {
  background: #ad343e;
}
.menu .selected {
  color: #a6b1e1;
  cursor: not-allowed !important;
}
.content {
  color: #006ba6;
  margin-left: auto;
  margin-right: auto;
}
.content .linkContainer {
  text-align: center;
}
.content h1 {
  margin-left: 0;
  text-align: center;
}
.content h1,
.content h2,
.content h3 {
  margin-left: 15px;
  color: #a6b1e1;
  -webkit-text-stroke: 0.2px black;
}
.content h1 #item-card,
.content h2 #item-card,
.content h3 #item-card {
  margin-left: 0px;
}
.content span {
  margin-left: 20px;
  color: #84a07c;
}
.content p {
  padding: 0 20px;
}
.content a {
  transition: all 50ms;
  color: #a6b1e1;
  text-decoration: none;
  font-weight: bold;
  -webkit-text-stroke: 0.2px black;
}
.content a:hover {
  color: #006ba6;
}
.footer {
  bottom: 0;
  width: 100%;
  background: #222222;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  scrollbar-color: #ad343e #222222;
}
.footer .socialButtons {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
.footer .descText {
  text-align: center;
  color: white;
  padding: 1px;
  font-size: 11px;
}
.footer a {
  transition: all 0.1s;
  color: #006ba6;
  background: #ad343e;
  padding: 5px 7px;
  border-radius: 100%;
}
.footer a:hover {
  color: #ad343e;
  background: #006ba6;
}
::selection {
  background: #ad343e;
  color: #006ba6;
}
#timeline {
  width: 80%;
  height: 100px;
  margin: 0 auto;
}
.item-highlight {
  text-align: center;
  margin: 0;
}
.item-highlight .item-highlight-title {
  text-transform: uppercase;
}
.pomnik {
  display: grid;
  grid-template-areas: 'image title title title title' 'image content content content content' 'image content content content content';
  text-align: left;
  margin: 10px;
  grid-gap: 0;
}
.pomnik .pomnikTitle {
  grid-area: title;
}
.pomnik .pomnikImage {
  grid-area: image;
}
.pomnik .pomnikContent {
  grid-area: content;
}
.pomnikContainer {
  display: flex;
  flex-direction: row;
}
.fotkyContainer {
  display: flex;
  margin: auto 5px;
}
.role {
  color: #a6b1e1 !important;
  -webkit-text-stroke: 0.2px black;
}
