@import url("./variables/main");

body,html{
  margin:0;
  padding:0;
}

html{
  scrollbar-width: thin;
  scrollbar-color: @newMenu @newBrand;
  overflow-x:hidden;
  background-image: url('/img/genialni-uvodak.png');
}

::-webkit-scrollbar{
  display:none;
}

.rakovina{
  background: none;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: @newBrand;
  color: @newText;
  cursor: default;
}

.menu{
  font-family: 'Montserrat', sans-serif;
  position: sticky;
  width:100%;
  font-size: 20px;
  font-weight: bold;
  background: @newMenu;
  color:@newBrand ;
  padding:0;
  opacity: 80%;

  ul{
    margin: 0;
    padding:0;
    list-style: none;
  }

  .menu-item{
    margin: 0;
    padding: 15px 0;
    height:100%;
    display: inline-block;
    width:33%;
    text-align:center;
    transition: all 0.1s;
    color: @newText;

    &:hover{
      background:  @newMenu;
      cursor: pointer;
      color:@newSecondaryText;
      .selected{background:  @newMenu}
    }
  }
  .selected{
     color:@newSecondaryText;
     cursor: not-allowed !important;
  }
}

.content{
  color:@newText;
  margin-left: auto;
  margin-right: auto;

  .linkContainer{
    text-align:center;
  }

  h1{
    margin-left: 0;
    text-align:center;
  }

  h1,h2,h3{
    margin-left: 15px;
    color:@newSecondaryText;
    -webkit-text-stroke: 0.2px black;

    #item-card{
      margin-left: 0px;
    }
  }

  span{
    margin-left: 20px;
    color:@brandLow;
  }

  p{
    padding: 0 20px;
  }
  a{
    transition: all 50ms;
    color: @newSecondaryText;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 0.2px black;

    &:hover{
      color: @newText;
    }
  }


}

.footer{
  bottom: 0;
  width: 100%;
  background: #222222;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  scrollbar-color: @newMenu #222222;

  .socialButtons{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
  }

  .descText{
    text-align: center;
    color: white;
    padding: 1px;
    font-size: 11px;
  }

  a{
    transition: all 0.1s;
    color: @newText;
    background: @newMenu;
    padding: 5px 7px;
    border-radius:100%;

    &:hover{
      color: @newMenu;
      background: @newText;
    }
  }
}

::selection{
  background: @newMenu;
  color: @newText;
}

#timeline{
  width: 80%;
  height: 100px;
  margin: 0 auto;
}
.item-highlight{
  text-align: center;
  margin: 0;
  .item-highlight-title{
    text-transform: uppercase;
  }
}

.pomnik{
  display: grid;
  grid-template-areas:
    'image title title title title'
    'image content content content content'
    'image content content content content';
  text-align: left;
  margin: 10px;
  grid-gap: 0;

  .pomnikTitle{
    grid-area: title;
  }
  .pomnikImage{
    grid-area: image;
  }
  .pomnikContent{
    grid-area:content;
  }
}

.pomnikContainer{
  display:flex;
  flex-direction: row;
}

.fotkyContainer{
  display:flex;
  margin: auto 5px;
  .obrazek{

  }
}

.role{
  color: @newSecondaryText !important;
  -webkit-text-stroke: 0.2px black;
}